#specimen_labels_sheet {
  font-size: 12px;

  $outer_border_width: 3px;
  $inner_border_width: 2px;
  $border_inset: 8px;
  $corner_radius: 32px;

  $card_width: 375px;
  $card_height: 300px;
  $fold_height: 200px;

  * {
    box-sizing: border-box;
  }
  small {
    font-size: 11px;
  }

  .specimen-card-wrapper {
    display: inline-block;
    margin: 2px;
  }
  .specimen-card {
    width: $card_width;
    height: $card_height;
    border: $outer_border_width solid black;
    padding: #{$corner_radius/2 + $border_inset};
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .specimen-card-header {
      border-bottom: 1px solid black;
      padding-bottom: 6px;
      position: relative;
    }
    .specimen-card-body {
      padding-top: 6px;
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      p.specimen-card-label {
        margin-bottom: 0px;
        &.specimen-card-country-label {
          font-style: italic;
        }
        &.specimen-card-location-label {
          font-size: 16px;
        }
      }
    }
    .specimen-card-footer {
      flex-shrink: 0;
      font-size: 11px;
      font-style: italic;
    }
  }

  .specimen-code {
    display: inline-block;
    position: absolute;
    bottom: #{$border_inset};
    left: #{$border_inset + ($corner_radius / 2) + 2};
    margin: 0;
  }
  .specimen-card-fold {
    width: $card_width;
    height: $fold_height;
    border: 1px solid black;
  }

  .specimen-card-corner {
    position: absolute;
    width: $corner_radius;
    height: $corner_radius;
    border-radius: 50%;
    border: $inner_border_width solid black;
    &.tl {
      top: #{-1 * $corner-radius / 2 + $border_inset};
      left: #{-1 * $corner-radius / 2 + $border_inset};
    }
    &.tr {
      top: #{-1 * $corner-radius / 2 + $border_inset};
      right: #{-1 * $corner-radius / 2 + $border_inset};
    }
    &.bl {
      bottom: #{-1 * $corner-radius / 2 + $border_inset};
      left: #{-1 * $corner-radius / 2 + $border_inset};
    }
    &.br {
      bottom: #{-1 * $corner-radius / 2 + $border_inset};
      right: #{-1 * $corner-radius / 2 + $border_inset};
    }
  }

  .specimen-card-mask {
    position: absolute;
    background-color: white;
    &.top {
      left: 0;
      right: 0;
      top: 0;
      height: $border_inset;
    }
    &.bottom {
      left: 0;
      right: 0;
      bottom: 0;
      height: $border_inset;
    }
    &.left {
      left: 0;
      bottom: 0;
      top: 0;
      width: $border_inset;
    }
    &.right {
      right: 0;
      bottom: 0;
      top: 0;
      width: $border_inset;
    }
  }

  .specimen-card-border {
    position: absolute;
    &.top {
      top: 0;
      left: #{$border_inset + $corner_radius/2};
      right: #{$border_inset + $corner_radius/2};
      height: $border_inset + $inner_border_width;
      border-bottom: $inner_border_width solid black;
    }
    &.bottom {
      bottom: 0;
      left: #{$border_inset + $corner_radius/2};
      right: #{$border_inset + $corner_radius/2};
      height: $border_inset + $inner_border_width;
      border-top: $inner_border_width solid black;
    }
    &.left {
      left: 0;
      bottom: #{$border_inset + $corner_radius/2};
      top: #{$border_inset + $corner_radius/2};
      width: $border_inset + $inner_border_width;
      border-right: $inner_border_width solid black;
    }
    &.right {
      right: 0;
      bottom: #{$border_inset + $corner_radius/2};
      top: #{$border_inset + $corner_radius/2};
      width: $border_inset + $inner_border_width;
      border-left: $inner_border_width solid black;
    }
  }
}
